@model Case.Web.Portal.Models.Cmcase

@{
    ViewData["Title"] = "Delete";
}

<p></p>

<div class="cta container">

<section id="customercare" class="team">
      <div class="container" data-aos="fade-up">


           <div class="section-header">
          <h2> Delete Case</h2>
        </div>

<div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cmcase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolvedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolvedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMcaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMcaseType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMcustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMcustomer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCare.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
</div>
</section>
</div>