@model IEnumerable<Case.Web.Portal.ViewModels.AdminCase>

@{
    ViewData["Title"] = "View All Cases";
}

<h1>Index</h1>

<p>
  @*  <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
             <th>Customer</th>
              <th>Status</th>
             <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>@Html.DisplayFor(modelItem => item.ID)</td>
             <td>@Html.DisplayFor(modelItem => item.Customer!.Email!)</td>
                <td>@Html.DisplayFor(modelItem => item.Case!.Status!)</td>
              <td>@Html.DisplayFor(modelItem => item.Case!.Description)</td>
           
            <td>
                  
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
